<!DOCTYPE html>

<html lang="en">
{% load static %}
{% load i18n %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
   <title>{% block title %}{% endblock title %}</title>

    <!-- Custom fonts for this template-->
    <script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
 
    <!-- Custom scripts for all pages-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <script src="{% static 'assets/js/sb-admin-2.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/sb-admin-2.min.css' %}"> 
    <script src="{%static 'assets/js/datatables.min.js'%}"> </script>

   {% block head %}{% endblock head %}    

</head>

<body id="page-top">
   <div id="wrapper">
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

         <!-- Sidebar - Brand -->
         <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'admin_index' %}">
            
            <div class="sidebar-brand-text mx-3"> 
               <h5 class="index-header">{% trans 'Dashboard' %}</h5>
            </div>
         </a>
         <!-- Divider -->
         <hr class="sidebar-divider">

         <!-- Heading -->
         <div class="sidebar-heading">
            <small class="index-utils-header">{% trans 'Master' %}</small>
         </div>

         <!-- Nav Item - Pages Collapse Menu -->
         <li class="nav-item {% if 'category' == segment %}active{% endif %}">
            <a class="nav-link collapsed pl-4 p-2" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
               <i class="fas fa-box"></i>
               <span>
                  <small class="sidebar-item-gu"> {% trans 'Categories' %} </small>
               </span>
            </a>
            <div id="collapseTwo" class="collapse {% if 'category' == segment %}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
               <div class="bg-white py-2 collapse-inner rounded">
                     <a class="collapse-item {% if 'category' == segment %}active{% endif %}" href="{% url 'admin_allcategory' %}">
                        <small class="sidebar-item-gu"> {% trans 'Show Categories' %} </small>
                     </a>
                                    
               </div>
            </div>
         </li>
         <li class="nav-item {% if 'state' == segment %}active{% endif %}">
            <a class="nav-link collapsed pl-4 p-2" href="#" data-toggle="collapse" data-target="#collapseThree"
               aria-expanded="true" aria-controls="collapseThree">
               <i class="fas fa-flag"></i>
               <span>
                  <small class="sidebar-item-gu"> {% trans 'State' %} </small>
               </span>
            </a>
            <div id="collapseThree" class="collapse {% if 'state' == segment %}show{% endif %}" aria-labelledby="headingThree" data-parent="#accordionSidebar">
               <div class="bg-white py-2 collapse-inner rounded">
                     <a class="collapse-item {% if 'state' == segment %}active{% endif %}"  href="{% url 'admin_allstate' %}">
                       <small class="sidebar-item-gu"> {% trans 'Show States' %} </small>
                     </a>
                                          
               </div>
            </div>
         </li>
         <li class="nav-item {% if 'district' == segment %}active{% endif %}">
            <a class="nav-link collapsed pl-4 p-2" href="#" data-toggle="collapse" data-target="#collapsefour"
               aria-expanded="true" aria-controls="collapsefour">
               <i class="fas fa-flag-checkered"></i>
               <span>
                  <small class="sidebar-item-gu"> {% trans 'District' %} </small>
               </span>
            </a>
            <div id="collapsefour" class="collapse {% if 'district' == segment %}show{% endif %}" aria-labelledby="headingfour" data-parent="#accordionSidebar">
               <div class="bg-white py-2 collapse-inner rounded">
                     <a class="collapse-item {% if 'district' == segment %}active{% endif %}" href="{% url 'admin_alldistrict' %}">
                        <small class="sidebar-item-gu"> {% trans 'Show Districts' %} </small>
                     </a>
                                         
               </div>
            </div>
         </li>

         <!-- Nav Item - Utilities Collapse Menu -->
         <!-- Divider -->
         <hr class="sidebar-divider">

         <!-- Heading -->
         <div class="sidebar-heading">
            <small class="index-utils-header">{% trans 'User' %}</small>
         </div>
         
     
         <li class="nav-item {% if 'farmer' in segment %}active{% endif %}">
            <a class="nav-link collapsed pl-4 p-2" href="#" data-toggle="collapse" data-target="#collapse2Two"
               aria-expanded="true" aria-controls="collapse2Two">
               <i class="fas fa-user-circle"></i>
               <span>
                 <small class="sidebar-item-gu"> {% trans 'Farmer' %} </small>
               </span>
            </a>
            <div id="collapse2Two" class="collapse {% if 'farmer' in segment %}show{% endif %}" aria-labelledby="heading2Two" data-parent="#accordionSidebar">
               <div class="bg-white py-2 collapse-inner rounded">
                     <a class="collapse-item {% if 'showfarmer' == segment  %}active{% endif %}" href="{% url 'admin_allfarmer' %}">
                         <small class="sidebar-item-gu"> {% trans 'Show Farmer' %} </small>
                     </a>
                     <a class="collapse-item {% if 'addfarmer' == segment %}active{% endif %}" href="{% url 'admin_addfarmer' %}">
                         <small class="sidebar-item-gu"> {% trans 'Add Farmer' %} </small>
                     </a>                       
               </div>
            </div>
         </li>
         <li class="nav-item {% if 'customer' in segment %}active{% endif %}">
            <a class="nav-link collapsed pl-4 p-2" href="#" data-toggle="collapse" data-target="#collapse2Three"
               aria-expanded="true" aria-controls="collapse2Three">
               <i class="fas fa-users"></i>  
               <span>
                   <small class="sidebar-item-gu"> {% trans 'Customer' %} </small>
               </span>
            </a>
            <div id="collapse2Three" class="collapse {% if 'customer' in segment %}show{% endif %}" aria-labelledby="heading2Three" data-parent="#accordionSidebar">
               <div class="bg-white py-2 collapse-inner rounded">
                     <a class="collapse-item {% if 'showcustomer' == segment  %}active{% endif %}" href="{% url 'admin_allcustomer' %}">
                       <small class="sidebar-item-gu"> {% trans 'Show Customer' %} </small>
                     </a>
                     <a class="collapse-item {% if 'addcustomer' == segment  %}active{% endif %}" href="{% url 'admin_addcustomer' %}">
                       <small class="sidebar-item-gu"> {% trans 'Add Customer' %} </small>
                     </a>                       
               </div>
            </div>
         </li>

         <hr class="sidebar-divider">

         <!-- Heading -->
         <div class="sidebar-heading">
            <small class="index-utils-header">{% trans 'Product' %}</small>
         </div>
         
         <li class="nav-item {% if 'product' in segment %}active{% endif %}">
            <a class="nav-link collapsed pl-4 p-2" href="#" data-toggle="collapse" data-target="#collapse3One"
               aria-expanded="true" aria-controls="collapse3One">
               <i class="fab fa-product-hunt"></i>
               <span>
                 <small class="sidebar-item-gu"> {% trans 'Product' %} </small>
               </span>
            </a>
            <div id="collapse3One" class="collapse {% if 'product' in segment %}show{% endif %}" aria-labelledby="heading3One" data-parent="#accordionSidebar">
               <div class="bg-white py-2 collapse-inner rounded">
                     <a class="collapse-item {% if 'showproduct' == segment  %}active{% endif %}" href="{% url 'admin_allproduct' %}">
                       <small class="sidebar-item-gu"> {% trans 'Show Products' %} </small>
                     </a>
                     <a class="collapse-item {% if 'addproduct' == segment  %}active{% endif %}" href="{% url 'admin_addproduct' %}">
                        <small class="sidebar-item-gu"> {% trans 'Add Product' %} </small>
                     </a>                  
               </div>
            </div>
         </li>
      <hr class="sidebar-divider">

         <!-- Heading -->
         <div class="sidebar-heading">
             <small class="index-utils-header">{% trans 'Orders' %}</small>
         </div>
         
         <li class="nav-item {% if 'order' in segment %}active{% endif %}">
            <a class="nav-link collapsed pl-4 p-2" href="#" data-toggle="collapse" data-target="#collapse4One"
               aria-expanded="true" aria-controls="collapse4One">
               <i class="fas fa-shipping-fast"></i>
               <span>
                  <small class="sidebar-item-gu"> {% trans 'Orders' %} </small>
               </span>
            </a>
            <div id="collapse4One" class="collapse {% if 'order' in segment %}show{% endif %}" aria-labelledby="heading4One" data-parent="#accordionSidebar">
               <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item {% if 'order' in segment %}active{% endif %}" href="{% url 'admin_allorder' %}">
                     <small class="sidebar-item-gu"> {% trans 'Show Orders' %} </small>
                  </a>                    
               </div>
            </div>
         </li>


         <!-- Divider -->
         <hr class="sidebar-divider d-none d-md-block">

         <!-- Sidebar Toggler (Sidebar) -->
         <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
         </div>

         <!-- Sidebar Message -->
   </ul>
   <!-- End of Sidebar -->

   <!-- Content Wrapper -->
   <div id="content-wrapper" class="d-flex flex-column">

         <!-- Main Content -->
         <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

               <!-- Sidebar Toggle (Topbar) -->
               <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                     <i class="fa fa-bars"></i>
               </button>

               <!-- Topbar Navbar -->
               {% comment %} <h1 class="h3 mb-0 text-gray-800">Dashboard</h1> {% endcomment %}
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item m-2 mt-3"> 
                     <form method = "GET" name="form">
                        <div class="dropdown mb-4">
                           <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Language
                            </button>
                           <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                              <table cellpadding="5px" class="gender" >
                                 <tr>
                                    <td><input type="radio" name="prefered_language" value="en"  {% if lan == 'en' %}checked{% endif %}  onchange="this.form.submit()" id="radio1"></td>
                                    <td><label class="select-lan" for="radio1">English</label></td>
                                 </tr>  
                                 <tr>
                                    <td><input type="radio" name="prefered_language" value="gu"  {% if lan == 'gu' %}checked{% endif %}  onchange="this.form.submit()" id="radio2"></td>
                                    <td><label class="select-lan" for="radio2">Gujarati</label></td>
                                 </tr>   
                              </table>
                           </div>
                        </div>
                     </form>
                  </li>
                     <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                           aria-labelledby="searchDropdown">
                           <form class="form-inline mr-auto w-100 navbar-search">
                                 <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                       placeholder="Search for..." aria-label="Search"
                                       aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                       <button class="btn btn-primary" type="button">
                                             <i class="fas fa-search fa-sm"></i>
                                       </button>
                                    </div>
                                 </div>
                           </form>
                        </div>
                     </li> 

                     <!-- Nav Item - Messages -->
                     <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <i class="fas fa-envelope fa-fw"></i>
                           <!-- Counter - Messages -->
                           <span class="badge badge-danger badge-counter">7</span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                           aria-labelledby="messagesDropdown">
                           <h6 class="dropdown-header">
                                 Message Center
                           </h6>
                           <a class="dropdown-item d-flex align-items-center" href="#">
                                 <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                       alt="...">
                                    <div class="status-indicator bg-success"></div>
                                 </div>
                                 <div class="font-weight-bold">
                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                       problem I've been having.</div>
                                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                                 </div>
                           </a>
                           <a class="dropdown-item d-flex align-items-center" href="#">
                                 <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                       alt="...">
                                    <div class="status-indicator"></div>
                                 </div>
                                 <div>
                                    <div class="text-truncate">I have the photos that you ordered last month, how
                                       would you like them sent to you?</div>
                                    <div class="small text-gray-500">Jae Chun · 1d</div>
                                 </div>
                           </a>
                           <a class="dropdown-item d-flex align-items-center" href="#">
                                 <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                       alt="...">
                                    <div class="status-indicator bg-warning"></div>
                                 </div>
                                 <div>
                                    <div class="text-truncate">Last month's report looks great, I am very happy with
                                       the progress so far, keep up the good work!</div>
                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                 </div>
                           </a>
                           <a class="dropdown-item d-flex align-items-center" href="#">
                                 <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                       alt="...">
                                    <div class="status-indicator bg-success"></div>
                                 </div>
                                 <div>
                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                       told me that people say this to all dogs, even if they aren't good...</div>
                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                 </div>
                           </a>
                           <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                     </li>

                     <div class="topbar-divider d-none d-sm-block"></div>

                     <!-- Nav Item - User Information -->
                     <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user}}</span>
                           <img class="img-profile rounded-circle" src="{% static 'assets/img/undraw_profile.svg' %}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                           aria-labelledby="userDropdown">
                           <a class="dropdown-item" href="#">
                                 <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                 Profile
                           </a>
                           <div class="dropdown-divider"></div>
                           <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#logoutModal">
                                 <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                 Logout
                           </a>
                        </div>
                     </li>

               </ul>

            </nav>
          {% block body %}

          {% endblock body %}
      
            <!-- Footer -->
         <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                     <span>Copyright &copy; Your Website 2021</span>
                  </div>
            </div>
         </footer>
           <!-- End of Footer -->
          <!-- End of Topbar -->
         <a class="scroll-to-top rounded" href="#page-top">
         <i class="fas fa-angle-up"></i>
         </a>

         <!--logout Modal-->
         <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                     <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">×</span>
                     </button>
                  </div>
                  <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                  <div class="modal-footer">
                     <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                     <a class="btn btn-primary" href="{% url 'admin_logout' %}">Logout</a>
                  </div>
               </div>
         </div>
 </div>
 
    <!-- Bootstrap core JavaScript-->
    

    <!-- Core plugin JavaScript-->
   
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{%static 'assets/js/datatables.min.js'%}"> </script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'assets/js/sb-admin-2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/datatables.min.css' %}">
 
   
</body>
</html>