body {
  margin: auto;
  background: #eaeaea;
  font-family: "Open Sans", sans-serif;
}

.msg {
  font-size: 18px;
  background: #2653d491;
  color: rgb(255, 255, 255);
  padding: 15px 25px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 5%;
  text-shadow: none;
  text-align: left;
}

.adminform {
  border-radius: 5px;
  max-width: 700px;
  width: 100%;
  margin: 3% 6%;
  background-color: #ffffff;
  overflow: hidden;
}

p span {
  color: #f00;
}

p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color: #333;
}

h1 {
  text-align: center;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  margin: 50px 0px 0px 0px;
}

input {
  border: 1px solid #3a3b45;
  margin-bottom: 15px;
  width: 85%;
  border-radius: 5px;
  height: 32px;
  }

a {
  text-decoration: inherit;
}

textarea {
  border-radius: 5px;
  border: 1px solid #3a3b45;
  margin: 0;
  width: 75%;
  height: 130px;
  float: left;
  padding: 0px 15px;
}

.form-group {
  overflow: hidden;
  clear: both;
}

.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background: #eeeeee;
  height: 42px;
  position: relative;
  text-align: center;
  line-height: 40px;
}

i {
  color: #555;
}

.contentform {
  padding: 40px 30px;
}

.bouton-contact {
  background-color: #81bda4;
  color: #fff;
  text-align: center;
  width: 100%;
  border: 0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
}

.formrow {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}
.select-lan{
  width: 57%;
  padding: 1%;
  text-transform: capitalize;
  border: none;
  background-color: #e3e6f033;
  border-radius: 5px;
}

.sendmessage {
  border: 1px solid #fff;
  display: none;
  text-align: center;
  margin: 10px 0;
  font-weight: 600;
  margin-bottom: 30px;
  background-color: #ebf6e0;
  color: #5f9025;
}

.form-gender ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
}

.sidebar-item-gu{
  font-size: 24px;
  font-weight: lighter;
}