body {
  margin: auto;
  background: #eaeaea;
  font-family: "Open Sans", sans-serif;
}

.msg {
  font-size: 18px;
  background: #2653d491;
  color: rgb(255, 255, 255);
  padding: 15px 25px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 5%;
  text-shadow: none;
  text-align: left;
}

.adminform {
  border-radius: 5px;
  max-width: 700px;
  width: 100%;
  margin: 3% 6%;
  background-color: #ffffff;
  overflow: hidden;
}

p span {
  color: #f00;
}

p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color: #333;
}

h1 {
  text-align: center;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  margin: 50px 0px 0px 0px;
}

input {
  border: 1px solid #3a3b45;
  margin-bottom: 15px;
  width: 87%;
  border-radius: 10px;
  height: 38px;
}

select {
  padding: 8px;
  text-transform: capitalize;
  background-color: white;
  border-radius: 10px;
}

a {
  text-decoration: inherit;
}

.gender tr td {
  width: 45px;
}
textarea {
  border-radius: 5px;
  border: 1px solid #3a3b45;
  margin: 0;
  width: 75%;
  height: 130px;
  float: left;
  padding: 0px 15px;
}

.form-group {
  overflow: hidden;
  clear: both;
}

.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background: #eeeeee;
  height: 42px;
  position: relative;
  text-align: center;
  line-height: 40px;
}

i {
  color: #555;
}

.contentform {
  padding: 40px 30px;
}

.bouton-contact {
  background-color: #81bda4;
  color: #fff;
  text-align: center;
  width: 100%;
  border: 0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
}

.formrow {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}
.select-lan {
  font-size: initial;
  margin-top: -48px;
}

.sendmessage {
  border: 1px solid #fff;
  display: none;
  text-align: center;
  margin: 10px 0;
  font-weight: 600;
  margin-bottom: 30px;
  background-color: #ebf6e0;
  color: #5f9025;
}

.form-gender ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
}

.sidebar-item-gu {
  font-size: 19px;
  font-weight: lighter;
}
.index-header {
  font-size: 22px;
}

.index-utils-header {
  font-size: 15px;
}
.pagination {
  display: flex;
  width: 100%;
  text-align: center;
  list-style: none;
  font-size: 25px;
  padding: 3%;
  list-style: none;
  border-radius: 0.35rem;
  justify-content: center;
}
.pagination ul {
  display: block;
  margin: 0 auto;
}
.pagination li {
  display: inline-block;
  margin: 1%;
}
.pagination li.active a {
  border: 2px solid #636871;
  color: black;
}
.pagination li a {
  font-size: 20px;
  color: #0000006e;
  height: fit-content;
  width: fit-content;
  background-color: #d1d3e224;
  line-height: 28px;
  display: inline-block;
  border: 2 px solid #e8e9eb;
  vertical-align: middle;
}
.pagination li a i {
  line-height: 28px;
  vertical-align: middle;
}

.modal-confirm {
  color: #636363;
  width: 400px;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}
.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}
.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -2px;
}
.modal-confirm .modal-body {
  color: #999;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
  color: white;
}
.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}
.modal-confirm .btn,
.modal-confirm .btn:active {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
}
/* .modal-confirm .btn-secondary {
	background: #c1c1c1;
} */
.modal-confirm .btn-secondary:hover,
.modal-confirm .btn-secondary:focus {
  background: #a8a8a8;
}
.modal-confirm .btn-danger {
  background: #f15e5e;
}
.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
  background: #ee3535;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
.farmer-select {
  padding: 10px;
  background-color: #9195a9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.farmer-select option {
  padding: 10px;
  color: black;
  background-color: white;
  cursor: pointer;
  text-transform: capitalize;
}
#img_id {
  visibility: hidden;
  width: 0px;
  height: 0px; 
}
.label-tittle{
  font-size: larger;
  font-weight: bold;
  font-family: cursive;
}

#order-heading {
  background-color: #edf4f7;
  position: relative;
  border-top-left-radius: 25px;
  max-width: 800px;
  padding-top: 20px;
  margin: 30px auto 0px
}

#order-heading .text-uppercase {
  font-size: 0.9rem;
  color: #777;
  font-weight: 600
}

#order-heading .h4 {
  font-weight: 600
}

#order-heading .h4+div p {
  font-size: 0.8rem;
  color: #777
}

.close {
  padding: 10px 15px;
  background-color: #777;
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: -20px
}

.wrapper {
  padding: 0px 50px 50px;
  max-width: 800px;
  /* margin: 0px auto 40px; */
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px
}

.table th {
  border-top: none
}

.table thead tr.text-uppercase th {
  font-size: 0.8rem;
  padding-left: 0px;
  padding-right: 0px
}

/* .table tbody tr th,
.table tbody tr td {
  font-size: 0.9rem;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px
} */

.table-responsive {
  height: fit-content;
}

.list div b {
  font-size: 0.8rem
}

.list .order-item {
  font-weight: 600;
  color: #6db3ec
}

.list:hover {
  background-color: #f4f4f4;
  cursor: pointer;
  border-radius: 5px
}

label {
  margin-bottom: 0;
  padding: 0;
  font-weight: 900
}

button.btn {
  font-size: 0.9rem;
  color: white;
  background-color: #66cdaa
}

button.btn:hover {
  color:white;
  font: bold;
  background-color: #5cb99a
}

.price {
  color: #5cb99a;
  font-weight: 700
}

p.text-justify {
  font-size: 0.9rem;
  margin: 0
}

.row {
  margin: 0px
}

.subscriptions {
  border: 1px solid #ddd;
  border-left: 5px solid #ffa500;
  padding: 10px
}

.subscriptions div {
  font-size: 0.9rem
}

@media(max-width: 425px) {
  .wrapper {
      padding: 20px
  }

  body {
      font-size: 0.85rem
  }

  .subscriptions div {
      padding-left: 5px
  }

  img+label {
      font-size: 0.75rem
  }
}
