{% extends 'index_base.html' %} 
{% load static %} 
{% load i18n %}

{% block title %}Add|Customer{%endblock title %} 

{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
{% endblock head %} 

{% block body %}
<div class="container-fluid">
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3d-flex flex-row align-items-center justify-content-between">
             <h5 class="m-0 font-weight-bold text-primary">{% trans 'Add Customer' %}</h5> 
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <form class="adminform" method="POST" enctype="multipart/form-data">         
             {% if msg %}
               <div>
                <h1 class="msg">{{msg}}</h1>
              </div>
             {% endif %}
              <div class="formrow">
                {% csrf_token %}
                <div>
                  <div class="form-group">
                    <small>{{form.first_name.errors}}</small>
                    <p>{{form.first_name.label}}<span>*</span></p>
                    <!-- <span class="icon-case"><i class="fa fa-male"></i></span> -->
                    {{form.first_name}}
                    <!-- <div class="validation"></div> -->
                  </div>

                  <div class="form-group">                   
                    <p>{{form.last_name.label}} <span>*</span></p>
                    <small class="text-danger p-0 ">{{form.last_name.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-user"></i></span> -->
                    {{form.last_name}}
                    <!-- <div class="validation"></div> -->
                  </div>

                  <div class="form-group">
                    
                    <p>{{form.email.label}}<span>*</span></p>
                    <small class="text-danger p-0 ">{{form.email.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-envelope-o"></i></span> -->
                    {{form.email}}
                    <!-- <div class="validation"></div> -->
                  </div>

                  <div class="form-group">                  
                    <p>{{form.password.label}}<span>*</span></p>
                    <small class="text-danger p-0 ">{{form.password.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-envelope-o"></i></span> -->
                    {{form.password}}
                    <!-- <div class="validation"></div> -->
                  </div>

                     <div class="form-group">                 
                        <p>{{addressform.pin_code.label}} <span>*</span></p>
                        <small class="text-danger p-0 ">{{addressform.pin_code.errors}}</small>
                        <!-- <span class="icon-case"><i class="fa fa-home"></i></span> -->
                        {{addressform.pin_code}}                 
                     </div>
                     
                     <div class="form-group">                 
                        <p>{{addressform.postal_address.label}} <span>*</span></p>
                        <small class="text-danger p-0 ">{{addressform.postal_address.errors}}</small>
                        <!-- <span class="icon-case"><i class="fa fa-home"></i></span> -->
                        {{addressform.postal_address}}                 
                     </div> 
              
                </div>

                <div>
                  <div class="form-group">                   
                    <p>{{form.profile_photo.label}} <span>*</span></p>
                    <small class="text-danger p-0 ">{{form.profile_photo.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-building-o"></i></span> -->
                    {{form.profile_photo}}
                  </div>

                  <div class="form-group">                   
                    <p>{{form.age.label}} <span>*</span></p>
                    <small class="text-danger p-0 ">{{form.age.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-building-o"></i></span> -->
                    {{form.age}}
                  </div>

                  <div class="form-group">                  
                    <p>{{form.gender.label}} <span>*</span></p>
                    <small class="text-danger p-0 ">{{form.gender.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-building-o"></i></span> -->
                    <div class="form-gender">{{form.gender}}</div>
                  </div>

                  <div class="form-group">
                    <p>{{form.contact.label}} <span>*</span></p>
                    <small class="text-danger p-0 ">{{form.contact.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-building-o"></i></span> -->
                    {{form.contact}}
                  </div>
                  
                    <div class="form-group">            
                    <p>{{form.state.label}} <span>*</span></p>
                    <small class="text-danger p-0 ">{{form.state.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-home"></i></span> -->
                    {{form.state}}
                    <!-- <div class="validation"></div> -->
                  </div>

                  <div class="form-group">                 
                    <p>{{form.district.label}} <span>*</span></p>
                    <small class="text-danger p-0 ">{{form.district.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-home"></i></span> -->
                    {{form.district}}
                    <!-- <div class="validation"></div> -->
                  </div>

                  <div class="form-group">                 
                    <p>{{form.farmer.label}} <span>*</span></p>
                    <small class="text-danger p-0 ">{{form.farmer.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-home"></i></span> -->
                    {{form.farmer}}
                    <!-- <div class="validation"></div> -->
                  </div>

                </div>
              </div>

              <button type="submit" class="bouton-contact">
                {% trans 'Add Customer' %}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body%}
