{% extends 'index_base.html' %}
{% load static %}

{% block title %}Add|Admin{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock head %}

{% block body %}
<div class="container-fluid">
   <div class="row">

      <!-- Area Chart -->
      <div class="col-xl-12 col-lg-12">
         <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
               <h6 class="m-0 font-weight-bold text-primary">Add Admin </h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
               <div class="chart-area ">
                  {% if msg %}
                  <p class="text-danger">{{msg}}</p>
                  {% else %}
      
                  <form class="adminform">
                     <div class="sendmessage"> 
                        <h1> Your message has been sent successfully. Thank you.</h1>                              
                     </div>
                   
                        <div class="row">
                           <div class="col-md-6 col-sm-12">
                              <div class="form-group">
                                 <p>{{form.first_name.label}}<span>*</span></p>
                                 <!-- <span class="icon-case"><i class="fa fa-male"></i></span> -->
                                 {{form.first_name}}
                                 <!-- <div class="validation"></div> -->
                              </div>

                              <div class="form-group">
                                 <p>{{form.last_name.label}} <span>*</span></p>
                                 <!-- <span class="icon-case"><i class="fa fa-user"></i></span> -->
                                 {{form.last_name}}
                                 <!-- <div class="validation"></div> -->
                              </div>

                              <div class="form-group">
                                 <p>{{form.email.label}}<span>*</span></p>
                                 <!-- <span class="icon-case"><i class="fa fa-envelope-o"></i></span> -->
                                 {{form.email}}
                                 <!-- <div class="validation"></div> -->
                              </div>

                              <div class="form-group">
                                 <p>{{form.password.label}}<span>*</span></p>
                                 <!-- <span class="icon-case"><i class="fa fa-envelope-o"></i></span> -->
                                 {{form.password}}
                                 <!-- <div class="validation"></div> -->
                              </div>

                              <div class="form-group">
                                 <p>{{form.state.label}} <span>*</span></p>
                                 <!-- <span class="icon-case"><i class="fa fa-home"></i></span> -->
                                 {{form.state}}
                                 <!-- <div class="validation"></div> -->
                              </div>

                              <div class="form-group">
                                 <p>{{form.district.label}} <span>*</span></p>
                                 <!-- <span class="icon-case"><i class="fa fa-home"></i></span> -->
                                 {{form.district}}
                                 <!-- <div class="validation"></div> -->
                              </div>

                              <div class="form-group">
                                 <p>{{form.postal.label}} <span>*</span></p>
                                 <span class="icon-case"><i class="fa fa-home"></i></span>
                                 {{form.postal}}
                                 <div class="validation"></div>
                              </div>
                           </div>

                           <div class="col-6 col-sm-12">

                              <div class="form-group">
                                 <p>{{form.profile_photo.label}} <span>*</span></p>
                                 <!-- <span class="icon-case"><i class="fa fa-building-o"></i></span> -->
                                 {{form.profile_photo}}              
                              </div>

                              <div class="form-group">
                                 <p>{{form.age.label}} <span>*</span></p>
                                 <!-- <span class="icon-case"><i class="fa fa-building-o"></i></span> -->
                                 {{form.age}}              
                              </div>

                              <div class="form-group">
                                 <p>{{form.gender.label}} <span>*</span></p>
                                 <!-- <span class="icon-case"><i class="fa fa-building-o"></i></span> -->
                                 {{form.gender}}              
                              </div>

                              <div class="form-group">
                                 <p>{{form.contact.label}} <span>*</span></p>
                                 <!-- <span class="icon-case"><i class="fa fa-building-o"></i></span> -->
                                 {{form.contact}}              
                              </div>      
                           </div>
                        </div>
               
                     <button type="submit" class="bouton-contact">Send</button>
                  </form>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>

</div>
{% endblock body%}