{% extends 'index_base.html' %}
{% load static %} 
{% load i18n %}

{% block title %}Add|Product{%endblock title %} 

{% block head %}
<script>
  function upload_img(input) {
    if (input.files && input.files[0]) {
      var src = URL.createObjectURL(input.files[0])
      $('#img_id').attr('src', src)
      $('#img_id').css("visibility", "visible")
      $('#img_id').css("width", "100px")
      $('#img_id').css("height", "100px")
    }
  }
</script>
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
{% endblock head %} 

{% block body %}
<div class="container-fluid">
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3d-flex flex-row align-items-center justify-content-between">
           <h5 class="m-0 font-weight-bold text-primary">{% trans 'Add Product' %}</h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <form class="adminform" method="POST" enctype="multipart/form-data">         
             {% if msg %}
               <div>
                <h1 class="msg">{{msg}}</h1>
              </div>
             {% endif %}
              <div class="formrow">
                {% csrf_token %}
                <div>
                  <div class="form-group">
                    <small>{{form.farmer.errors}}</small>
                    <p> {% trans form.farmer.label %}<span>*</span></p>
                    <!-- <span class="icon-case"><i class="fa fa-male"></i></span> -->
                    {{form.farmer}}
                    <!-- <div class="validation"></div> -->
                  </div>

                  <div class="form-group">                   
                    <p> {% trans form.category.label %}<span>*</span></p>
                    <small class="text-danger p-0 ">{{form.category.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-user"></i></span> -->
                    {{form.category}}
                    <!-- <div class="validation"></div> -->
                  </div>

                  <div class="form-group">
                    
                    <p> {% trans form.gu.label %}<span>*</span></p>
                    <small class="text-danger p-0 ">{{form.gu.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-envelope-o"></i></span> -->
                      {{form.gu}} 
                    <!-- <div class="validation"></div> -->
                  </div>

                  <div class="form-group">                  
                    <p> {% trans form.en.label %}<span>*</span></p>
                    <small class="text-danger p-0 ">{{form.en.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-envelope-o"></i></span> -->
                    {{form.en}}
                    <!-- <div class="validation"></div> -->
                  </div>
                  
                </div>

                <div>
                  <div class="form-group">  
                    <img id="img_id" src="#" />                   
                    <p> {% trans form.image.label %} <span>*</span></p>
                    <small class="text-danger p-0 ">{{form.image.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-building-o"></i></span> -->
                    {{form.image}}
                  </div>

                  <div class="form-group">                   
                    <p> {% trans form.price.label %} <span>*</span></p>
                    <small class="text-danger p-0 ">{{form.price.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-building-o"></i></span> -->
                    {{form.price}} Per Kg
                  </div>

                  <div class="form-group">                  
                    <p> {% trans form.stock.label %} <span>*</span></p>
                    <small class="text-danger p-0 ">{{form.stock.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-building-o"></i></span> -->
                    <div class="form-gender">{{form.stock}} Kg</div>
                  </div>            
                </div>
              </div>

              <button type="submit" class="bouton-contact">
                 {% if lan == 'gu' %}
                    <h5 class="m-0 "> ઉત્પાદનો ઉમેરો </h5>   
                    {% else %}
                    Add Product 
                  {% endif %}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body%}
