{% extends is_admin|yesno:"admin/index_base.html,index_base.html" %}
{% load static %}
{% load i18n %}
{% load tagger %}

{% block title %}Detail|Product{% endblock title %}

{% block head %}
   
   <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock head %}

{% block body %}
   <div class="container-fluid">
      <div class="row">
         {% if is_admin %}
            {% define  product|get_item:'_id' as id %}
            {% define  product.image as photo %}
            {% comment %} {% define  'admin_updateproduct' as update_url %}   {% endcomment %}
            {% define  'admin_deleteproduct' as delete_url %}       
            {% else %}
            {% define product|private:'_id' as id %}
            {% define product.image.url as photo %}
            {% comment %} {% define  'updateproduct' as update_url %} {% endcomment %}
            {% define  'deleteproduct' as delete_url %}
         {% endif %}
         <!-- Area Chart -->
         <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                 <!-- Card Header - Dropdown -->
                 <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">                   
                     <h5 class="m-0 font-weight-bold text-primary">{% trans 'Product Detail' %}</h5>     
                 </div>
                 <!-- Card Body -->
                 <div class="card-body">
                     <div class="chart-area">
                        {% if msg %}
                           <p class="text-danger">{{msg}}</p>
                           {% else %}
                              <div class="row">                                  
                                 <div class="col-md-4">
                                    <div class="text-center">
                                      <img src= {{photo}} width='250px' height='250px' class="rounded"/>
                                    </div>
                                 </div>                             
                                 <div class="col-md-4 mt-1">                                
                                    <div class="form-group">
                                       <label class="col-lg-5 control-label label-tittle">{% trans "Name" %}</label>
                                       <div class="col-lg-7">
                                          {% if lan == 'en' %}
                                             {{product.en.name}}
                                             {% else %}
                                             {{product.gu.name}}
                                          {% endif %} 
                                       </div>
                                    </div>
                                    
                                    <div class="form-group">
                                       <label class="col-md-5 control-label label-tittle">{% trans "Farmer" %}</label>
                                       <div class="col-md-7">
                                          {{product.farmer.first_name}}
                                       </div>
                                    </div>
                                    
                                    <div class="form-group">
                                       <label class="col-md-5 control-label label-tittle">{% trans "Stock" %}</label>
                                       <div class="col-md-7">
                                          {{product.stock}} kg
                                       </div>
                                    </div>           
                                 </div>

                                 <div class="col-md-4">
                                    <div class="form-group">
                                       <label class="col-lg-5 control-label label-tittle">{% trans "Description" %}</label>
                                       <div class="col-lg-7">
                                          {% if lan == 'en' %}
                                             {{product.en.description}}
                                             {% else %}
                                             {{product.gu.description}}
                                          {% endif %}
                                       </div>
                                    </div>

                                    <div class="form-group">
                                       <label class="col-md-5 control-label label-tittle">{% trans "Category" %}</label>
                                       <div class="col-md-7">
                                          {% if lan == 'en' %}
                                             {{product.category.en.name}}
                                             {% else %}
                                                {{product.category.gu.name}}
                                          {% endif %}
                                         
                                       </div>
                                    </div> 

                                    <div class="form-group">
                                       <label class="col-md-5 control-label label-tittle">{% trans "Price" %}</label>
                                       <div class="col-md-7">
                                          {{product.price}} per kg
                                       </div>
                                    </div>    
                                 </div>
                              </div>
                              <div class="card-footer py-3 d-flex flex-row align-items-center justify-content-end">                   
                                 
                                 {% comment %} <a href="{% url update_url id %}" class="btn btn-primary btn-icon-split m-1">
                                    <span class="icon text-white-50">
                                       <small class="text-light">Edit</small>
                                    </span>
                                 </a> {% endcomment %}

                                 <a href="{% url delete_url id  %}" class="btn btn-danger btn-icon-split m-1">
                                    <span class="icon text-white-50">
                                       <p class="text-light">{% trans "Delete" %}</p>
                                    </span>
                                 </a>
                             </div>
                              
                        {% endif %}                    
                     </div>
                 </div>
            </div>
         </div>
      </div>  
      <div >
            {% if results.has_other_pages %}
            <ul class="pagination">
               {% if results.has_previous %}
               <li><a href="?page={{ results.previous_page_number }}">&laquo;</a></li>
               {% else %}
               <li class="disabled"><span>&laquo;</span></li>
               {% endif %}
               {% for i in results.paginator.page_range %}
               {% if results.number == i %}
               <li class="active"><span>{{ i }} <span class=""></span></span></li>
               {% else %}
               <li><a href="?page={{ i }}">{{ i }}</a></li>
               {% endif %}
               {% endfor %}
               {% if results.has_next %}
               <li><a href="?page={{ results.next_page_number }}">&raquo;</a></li>
               {% else %}
               <li class="disabled"><span>&raquo;</span></li>
               {% endif %}
            </ul>
            {% endif %}
      </div>   
   </div>

{% endblock body %}