{% extends is_admin|yesno:"admin/index_base.html,index_base.html" %}
{% load static %}
{% load i18n %}
{% load tagger %}

{% block title %}Detail|Farmer{% endblock title %}

{% block head %}
   
   <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock head %}

{% block body %}
   <div class="container-fluid">
      <div class="row">
         {% if is_admin %}
            {% define farmer|get_item:'_id' as id %}
            {% define  farmer.profile_photo as photo %}
            {% define  'admin_updatefarmer' as update_url %}  
            {% define  'admin_deletefarmer' as delete_url %}       
            {% else %}
            {% define farmer|private:'_id' as id %}
            {% define farmer.profile_photo.url as photo %}
            {% define  'updatefarmer' as update_url %}
            {% define  'deletefarmer' as delete_url %}        
         {% endif %}
         <!-- Area Chart -->
         <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                 <!-- Card Header - Dropdown -->
                 <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">                   
                     <h5 class="m-0 font-weight-bold text-primary">{% trans 'Farmer Detail' %}</h5>     
                 </div>
                 <!-- Card Body -->
                 <div class="card-body">
                     <div class="chart-area">
                        {% if msg %}
                           <p class="text-danger">{{msg}}</p>
                           {% else %}
                              <div class="row">                                  
                                 <div class="col-md-4">
                                    <div class="text-center">
                                      <img src={{photo}} width='250px' height='250px' class="rounded"/>
                                    </div>
                                 </div>                             
                                 <div class="col-md-4 mt-1">                                
                                    <div class="form-group">
                                       <label class="col-lg-5 control-label label-tittle">{% trans "First Name" %}</label>
                                       <div class="col-lg-7">
                                          {{farmer.first_name}}
                                       </div>
                                    </div>
                                    
                                    <div class="form-group">
                                       <label class="col-md-5 control-label label-tittle">{% trans "Email" %}</label>
                                       <div class="col-md-7">
                                          {{farmer.email}}
                                       </div>
                                    </div>
                                    
                                    <div class="form-group">
                                       <label class="col-md-5 control-label label-tittle">{% trans "Age" %}</label>
                                       <div class="col-md-7">
                                          {{farmer.age}}
                                       </div>
                                    </div> 
                                    <div class="form-group">
                                       <label class="col-md-5 control-label label-tittle">{% trans "State" %}</label>
                                       <div class="col-md-7">
                                          {{farmer.state.name}}
                                       </div>
                                    </div>     
                                    <div class="form-group">
                                       <label class="col-md-5 control-label label-tittle">{% trans "Postal Address" %}</label>
                                       <div class="col-md-7">
                                          {{farmer.postal_address}}
                                       </div>
                                    </div>                                      
                                 </div>

                                 <div class="col-md-4">
                                    <div class="form-group">
                                       <label class="col-lg-5 control-label label-tittle">{% trans "Last Name" %}</label>
                                       <div class="col-lg-7">
                                          {{farmer.last_name}}
                                       </div>
                                    </div>

                                    <div class="form-group">
                                       <label class="col-md-5 control-label label-tittle">{% trans "Contact No" %}</label>
                                       <div class="col-md-7">
                                       {{farmer.contact}}
                                       </div>
                                    </div> 

                                    <div class="form-group">
                                       <label class="col-md-5 control-label label-tittle">{% trans "Customer Capacity" %}</label>
                                       <div class="col-md-7">
                                          {{farmer.customer_capacity}}
                                       </div>
                                    </div>    
                                    <div class="form-group">
                                       <label class="col-md-5 control-label label-tittle">{% trans "District" %}</label>
                                       <div class="col-md-7">
                                          {{farmer.district.name}}
                                       </div>
                                    </div> 
                                    <div class="form-group">
                                       <label class="col-md-5 control-label label-tittle">{% trans "Pincode" %}</label>
                                       <div class="col-md-7">
                                          {{farmer.pin_code}}
                                       </div>
                                    </div> 
                                 
                                 </div>
                              </div>
                              <div class="card-footer py-3 d-flex flex-row align-items-center justify-content-end">                   
                                 
                                 <a href="{% url update_url id %}" class="btn btn-primary btn-icon-split m-1">
                                    <span class="icon text-white-50">
                                       <p class="text-light">{% trans "Edit" %}</p>
                                    </span>
                                 </a>

                                 <a href="{% url 'deletefarmer' id %}" class="btn btn-danger btn-icon-split m-1">
                                    <span class="icon text-white-50">
                                       <p class="text-light">{% trans "Delete" %}</p>
                                    </span>
                                 </a>
                             </div>
                              
                        {% endif %}                    
                     </div>
                 </div>
            </div>
         </div>
      </div>  
      <div >
            {% if results.has_other_pages %}
            <ul class="pagination">
               {% if results.has_previous %}
               <li><a href="?page={{ results.previous_page_number }}">&laquo;</a></li>
               {% else %}
               <li class="disabled"><span>&laquo;</span></li>
               {% endif %}
               {% for i in results.paginator.page_range %}
               {% if results.number == i %}
               <li class="active"><span>{{ i }} <span class=""></span></span></li>
               {% else %}
               <li><a href="?page={{ i }}">{{ i }}</a></li>
               {% endif %}
               {% endfor %}
               {% if results.has_next %}
               <li><a href="?page={{ results.next_page_number }}">&raquo;</a></li>
               {% else %}
               <li class="disabled"><span>&raquo;</span></li>
               {% endif %}
            </ul>
            {% endif %}
      </div>   
   </div>

{% endblock body %}