{% extends is_admin|yesno:"admin/index_base.html,index_base.html" %}
{% load static %}
{% load i18n %}
{% load tagger %}
{% block title %}Products{% endblock title %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
$(document).ready(function () {
    $('#dtBasicExample').DataTable({
     lengthChange:true,
     searching: true,
     paging:false,
     columnDefs: [
     { searchable: false, targets: 0 }
     ],
     order:[[ 0,"desc" ]],

    });
});
</script>


{% endblock head %}

{% block body %}
   <div class="container-fluid">
      <div class="row">

         <!-- Area Chart -->
         <div class="col-xl-12 col-lg-12">
             <div class="card shadow mb-4">
                 <!-- Card Header - Dropdown -->
                 <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                     <h5 class="m-0 font-weight-bold text-primary">{% trans 'Show Products' %}</h5> 
                 </div>
                 <!-- Card Body -->
                 <div class="card-body">
                     <div class="chart-area">
                        {% if msg %}
                           <p class="text-danger">{{msg}}</p>
                           {% else %}
                              <table id="dtBasicExample" class="table table-striped table-bordered" style="width:100%">
                           <thead>
                              <tr>
                                 <th> {% trans "Sr.No" %} </th>
                                 <th>{% trans "Image" %}</th>
                                 <th>{% trans "Name" %}</th>
                                 {% if not is_admin %}
                                    <th>{% trans "Edit" %}</th>
                                 {% endif %}
                                 <th>{% trans "Detail" %}</th>
                                 <th>{% trans "Delete" %}</th>                                
                              </tr>
                           </thead>
                           <tbody>
                              {% for product in results %}
                                 {% if is_admin %}
                                          {% define product|get_item:'_id' as id %}
                                          {% define  product.image as photo %}
                                          {% define  'admin_detailproduct' as detail_url %}
                                          {% define  'admin_deleteproduct' as delete_url %}
                                    {% else %}
                                          {% define product|private:'_id' as id %}
                                          {% define product.image.url as photo %}
                                          {% define  'updateproduct' as update_url %} 
                                          {% define  'detailproduct' as detail_url %}
                                          {% define  'deleteproduct' as delete_url %}
                                    {% endif %}
                                 <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><img src={{photo}} width='75px' height='75px' class="rounded"/></td>
                                    <td>{{product.en.name}}</td>                                  
                                   {% if update_url %}
                                       <td class="text-center pointer"><a href="{% url update_url id %}"><i class="far fa-edit text-primary"></i></a></td>
                                   {% endif %} 
                                    <td class="text-center pointer"><a href="{% url detail_url id %}"><i class="fas fa-info-circle"></i></i></a></td>
                                     <td class="text-center pointer">
                                       <a href="#{{id}}" data-toggle="modal"><i class="fas fa-trash-alt text-danger"></i>
                                       </a>
                                       <div id="{{id}}" class="modal fade">
                                          <div class="modal-dialog modal-confirm">
                                             <div class="modal-content">
                                                <div class="modal-header flex-column">
                                                   <div class="icon-box">
                                                      <i class="fas fa-check"></i>
                                                   </div>						
                                                   <h4 class="modal-title w-100">Are you sure?</h4>	
                                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                   <p>Do you really want to delete product? This process cannot be undone.</p>
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                   <a href="{% url delete_url id  %}" class="btn btn-danger">Delete</a>
                                                </div>
                                             </div>
                                          </div>
                                       </div> 
                                    </td>
                                 </tr>
                               
                              {% endfor %}
                              
                           </tbody>   
                        </table>
                        {% endif %}   
                     </div>
                 </div>
             </div>
         </div>
      </div>  
   </div>

{% endblock body %}