{% extends 'index_base.html' %}
{% load static %}
{% load i18n %}
{% load tagger %}
{% block title %}Orders{% endblock title %}

{% block head %}
<script>
   $(document).ready(function () {
      $('#dtBasicExample').DataTable({
      lengthChange:true,
      searching: true,
      paging:false,
      columnDefs: [
      { searchable: false, targets: 0 }
      ],
      order:[[ 0,"desc" ]],

      });
   });
</script>   
{% endblock head %}

{% block body %}
   <div class="container-fluid">
      <div class="row">

         <!-- Area Chart -->
         <div class="col-xl-12 col-lg-12">
             <div class="card shadow mb-4">
                 <!-- Card Header - Dropdown -->
                 <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                     <h5 class="m-0 font-weight-bold text-primary">{% trans 'Show Orders' %}</h5> 
                 </div>
                 <!-- Card Body -->
                 <div class="card-body">
                     <div class="chart-area">
                        {% if msg %}
                           <p class="text-danger">{{msg}}</p>
                           {% else %}
                          
                           <table id="dtBasicExample" class="table table-striped table-bordered" style="width:100%">
                              <thead>
                                 <tr>
                                    <th> Sr.No </th>
                                    <th>Farmer</th>
                                    <th>Customer</th>
                                    <th>Total Amount</th>
                                    <th>Edit</th>
                                    <th>Detail</th>
                                    <th>Delete</th>                                
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for order in results %}
                                    <tr>
                                       <td>{{forloop.counter}}</td>
                                       <td>{{order.farmer.first_name}}</td>
                                       <td>{{order.customer.first_name}}</td>
                                       <td>{{order.total}}</td>      
                                       <td class="text-center pointer"><a href="{% url 'updateorder' order|private:'_id' %}"><i class="far fa-edit text-primary"></i></a></td>
                                       <td class="text-center pointer"><a href="{% url 'detailorder' order|private:'_id' %}"><i class="fas fa-info-circle"></i></i></a></td>
                                       <td class="text-center pointer">
                                          <a href="#{{order|private:'_id'}}" data-toggle="modal"><i class="fas fa-trash-alt text-danger"></i>
                                          </a>
                                          <div id="{{order|private:'_id'}}" class="modal fade">
                                             <div class="modal-dialog modal-confirm">
                                                <div class="modal-content">
                                                   <div class="modal-header flex-column">
                                                      <div class="icon-box">
                                                         <i class="fas fa-check"></i>
                                                      </div>						
                                                      <h4 class="modal-title w-100">Are you sure?</h4>	
                                                         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                   </div>
                                                   <div class="modal-body">
                                                      <p>Do you really want to delete order? This process cannot be undone.</p>
                                                   </div>
                                                   <div class="modal-footer justify-content-center">
                                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                      <a href="{% url 'deleteorder' order|private:'_id' %}" class="btn btn-danger">Delete</a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div> 
                                       </td>
                                    </tr>
                                    
                                 {% endfor %}
                                 
                              </tbody>   
                           </table>
                        {% endif %}   
                     </div>
                 </div>
             </div>
         </div>
      </div>  
       <div >
            {% if results.has_other_pages %}
            <ul class="pagination">
               {% if results.has_previous %}
               <li><a href="?page={{ results.previous_page_number }}">&laquo;</a></li>
               {% else %}
               <li class="disabled"><span>&laquo;</span></li>
               {% endif %}
               {% for i in results.paginator.page_range %}
               {% if results.number == i %}
               <li class="active"><span>{{ i }} <span class=""></span></span></li>
               {% else %}
               <li><a href="?page={{ i }}">{{ i }}</a></li>
               {% endif %}
               {% endfor %}
               {% if results.has_next %}
               <li><a href="?page={{ results.next_page_number }}">&raquo;</a></li>
               {% else %}
               <li class="disabled"><span>&raquo;</span></li>
               {% endif %}
            </ul>
            {% endif %}
         </div>
      </div>
   </div>

{% endblock body %}