{% extends 'index_base.html' %}
{% load static %}

{% block title %}Districts{% endblock title %}

{% block head %}
   <script>
      $(document).ready(function() {
          $('#example').DataTable();
      });
   </script>
{% endblock head %}

{% block body %}
   <div class="container-fluid">
      <div class="row">

         <!-- Area Chart -->
         <div class="col-xl-12 col-lg-12">
             <div class="card shadow mb-4">
                 <!-- Card Header - Dropdown -->
                 <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                     <h6 class="m-0 font-weight-bold text-primary">State Overview</h6>
                  
                 </div>
                 <!-- Card Body -->
                 <div class="card-body">
                     <div class="chart-area">
                        {% if msg %}
                           <p class="text-danger">{{msg}}</p>
                           {% else %}
                              <table id="example" class="table table-striped table-bordered" style="width:100%">
                           <thead>
                              <tr>
                                <th> Sr.No </th>
                                <th> Name </th>
                                <th>Edit</th>
                                <th>Delete</th>                                
                              </tr>
                           </thead>
                           <tbody>
                              {% for district in results %}
                                 <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{district.name}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                 </tr>
                              {% endfor %}
                              
                           </tbody>   
                        </table>
                        {% endif %}   
                     </div>
                 </div>
             </div>
         </div>
      </div>  

   </div>

{% endblock body %}