{% extends 'index_base.html' %}
{% load static %} 
{% load i18n %}
{% load tagger %}
{% block title %}Update|Order{%endblock title %} 

{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
{% endblock head %} 

{% block body %}
<div class="container-fluid">
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3d-flex flex-row align-items-center justify-content-between">
           <h5 class="m-0 font-weight-bold text-primary">{% trans 'Update Order' %}</h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <form class="adminform" method="POST" enctype="multipart/form-data">         
             {% if msg %}
               <div>
                <h1 class="msg">{{msg}}</h1>
              </div>
             {% endif %}
              <div class="formrow">
                {% csrf_token %}
                <div>
                  <div class="form-group">
                    <small>{{form.farmer.errors}}</small>
                    <p> {% trans form.farmer.label %} <span>*</span></p>
                    <!-- <span class="icon-case"><i class="fa fa-male"></i></span> -->
                    {{form.farmer}}
                    <!-- <div class="validation"></div> -->
                  </div>

                  <div class="form-group">                   
                    <p> {% trans form.address.label %} <span>*</span></p>
                    <small class="text-danger p-0 ">{{form.address.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-user"></i></span> -->
                    {{form.address}}
                    <!-- <div class="validation"></div> -->
                  </div>

                  <div class="form-group">
                    
                    <p> {% trans form.status.label  %}<span>*</span></p>
                    <small class="text-danger p-0 ">{{form.status.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-envelope-o"></i></span> -->
                    {{form.status}}
                    <!-- <div class="validation"></div> -->
                  </div>      
                </div>

                <div>
                  <div class="form-group">                   
                    <p> {% trans form.customer.label %} <span>*</span></p>
                    <small class="text-danger p-0 ">{{form.customer.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-building-o"></i></span> -->
                    {{form.customer}}
                  </div>

                  <div class="form-group">                   
                    <p> {% trans form.total.label %} <span>*</span></p>
                    <small class="text-danger p-0 ">{{form.total.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-building-o"></i></span> -->
                    {{form.total}}
                  </div>

                  <div class="form-group">                  
                    <p>{% trans form.payment_method.label %} <span>*</span></p>
                    <small class="text-danger p-0 ">{{form.payment_method.errors}}</small>
                    <!-- <span class="icon-case"><i class="fa fa-building-o"></i></span> -->
                    <div class="form-gender">{{form.payment_method}}</div>
                  </div>            
                </div>
              </div>

              <button type="submit" class="bouton-contact">
                 {% if lan == 'gu' %}
                    <h5 class="m-0 "> ઉત્પાદનો ઉમેરો </h5>   
                    {% else %}
                    Add Product 
                  {% endif %}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body%}
